# Imports

In [1]:
import sys
sys.path.insert(0, '/Users/hinzlehome/codeup-data-science/clustering-project/')

from utils.imports import *

from utils.wrangle import *

---

# wrangle.py

In [2]:
df=wrangle_zillow()

/Users/hinzlehome/codeup-data-science/clustering-project/utils/wrangle.py:220: DtypeWarning: Columns (63) have mixed types.Specify dtype option on import or set low_memory=False.
  df = acquire_df()

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38878 entries, 3 to 77379
Data columns (total 24 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   parcelid                      38878 non-null  int64
 1   bathroomcnt                   38878 non-null  float64
 2   bedroomcnt                    38878 non-null  float64
 3   buildingqualitytypeid         38878 non-null  float64
 4   calculatedfinishedsquarefeet  38878 non-null  float64
 5   county                        38878 non-null  object
 6   latitude                      38878 non-null  float64
 7   longitude                     38878 non-null  float64
 8   lotsizesquarefeet             38878 non-null  float64
 9   rawcensustractandblock        38878 non-null  float64
 10  regionidcity                  38878 non-null  float64
 11  regionidcounty                38878 non-null  float64
 12  regionidzip                   38878 non-null  float64
 13  roomcnt                       38878 non-null  float64
 14  yearbuilt                     38878 non-null  float64
 15  structuretaxvaluedollarcnt    38878 non-null  float64
 16  taxvaluedollarcnt             38878 non-null  float64
 17  assessmentyear                38878 non-null  float64
 18  landtaxvaluedollarcnt         38878 non-null  float64
 19  taxamount                     38878 non-null  float64
 20  logerror                      38878 non-null  float64
 21  transactiondate               38878 non-null  object
 22  heatingorsystemdesc           38878 non-null  object
 23  age                           38878 non-null  float64
dtypes: float64(20), int64(1), object(3)
memory usage: 7.4+ MB

---

# Dummies

In [8]:
df=df.sample(1000)

SyntaxError: invalid syntax (1840544372.py, line 1)

In [16]:
cols=df.loc[:,(df.dtypes==object).values].columns.tolist()

In [23]:
cols

['county', 'transactiondate', 'heatingorsystemdesc']

In [17]:
dummy_df=pd.get_dummies(df[cols], dummy_na=False, drop_first=True)

In [18]:

df=pd.concat([df, dummy_df], axis=1)

In [19]:

df=df.drop(cols,axis=1)

In [22]:
df.head()

,parcelid,bathroomcnt,bedroomcnt,buildingqualitytypeid,calculatedfinishedsquarefeet,latitude,longitude,lotsizesquarefeet,rawcensustractandblock,regionidcity,regionidcounty,regionidzip,roomcnt,yearbuilt,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,logerror,age,transactiondate_2017-01-02,transactiondate_2017-01-03,transactiondate_2017-01-04,transactiondate_2017-01-05,transactiondate_2017-01-06,transactiondate_2017-01-09,transactiondate_2017-01-10,transactiondate_2017-01-11,transactiondate_2017-01-12,transactiondate_2017-01-13,transactiondate_2017-01-15,transactiondate_2017-01-16,transactiondate_2017-01-17,transactiondate_2017-01-18,transactiondate_2017-01-19,transactiondate_2017-01-20,transactiondate_2017-01-23,transactiondate_2017-01-24,transactiondate_2017-01-25,transactiondate_2017-01-26,transactiondate_2017-01-27,transactiondate_2017-01-30,transactiondate_2017-01-31,transactiondate_2017-02-01,transactiondate_2017-02-02,transactiondate_2017-02-03,transactiondate_2017-02-05,transactiondate_2017-02-06,transactiondate_2017-02-07,transactiondate_2017-02-08,transactiondate_2017-02-09,transactiondate_2017-02-10,transactiondate_2017-02-13,transactiondate_2017-02-14,transactiondate_2017-02-15,transactiondate_2017-02-16,transactiondate_2017-02-17,transactiondate_2017-02-21,transactiondate_2017-02-22,transactiondate_2017-02-23,transactiondate_2017-02-24,transactiondate_2017-02-26,transactiondate_2017-02-27,transactiondate_2017-02-28,transactiondate_2017-03-01,transactiondate_2017-03-02,transactiondate_2017-03-03,transactiondate_2017-03-06,transactiondate_2017-03-07,transactiondate_2017-03-08,transactiondate_2017-03-09,transactiondate_2017-03-10,transactiondate_2017-03-13,transactiondate_2017-03-14,transactiondate_2017-03-15,transactiondate_2017-03-16,transactiondate_2017-03-17,transactiondate_2017-03-20,transactiondate_2017-03-21,transactiondate_2017-03-22,transactiondate_2017-03-23,transactiondate_2017-03-24,transactiondate_2017-03-27,transactiondate_2017-03-28,transactiondate_2017-03-29,transactiondate_2017-03-30,transactiondate_2017-03-31,transactiondate_2017-04-03,transactiondate_2017-04-04,transactiondate_2017-04-05,transactiondate_2017-04-06,transactiondate_2017-04-07,transactiondate_2017-04-10,transactiondate_2017-04-11,transactiondate_2017-04-12,transactiondate_2017-04-13,transactiondate_2017-04-14,transactiondate_2017-04-17,transactiondate_2017-04-18,transactiondate_2017-04-19,transactiondate_2017-04-20,transactiondate_2017-04-21,transactiondate_2017-04-24,transactiondate_2017-04-25,transactiondate_2017-04-26,transactiondate_2017-04-27,transactiondate_2017-04-28,transactiondate_2017-04-30,transactiondate_2017-05-01,transactiondate_2017-05-02,transactiondate_2017-05-03,transactiondate_2017-05-04,transactiondate_2017-05-05,transactiondate_2017-05-08,transactiondate_2017-05-09,transactiondate_2017-05-10,transactiondate_2017-05-11,transactiondate_2017-05-12,transactiondate_2017-05-15,transactiondate_2017-05-16,transactiondate_2017-05-17,transactiondate_2017-05-18,transactiondate_2017-05-19,transactiondate_2017-05-22,transactiondate_2017-05-23,transactiondate_2017-05-24,transactiondate_2017-05-25,transactiondate_2017-05-26,transactiondate_2017-05-30,transactiondate_2017-05-31,transactiondate_2017-06-01,transactiondate_2017-06-02,transactiondate_2017-06-05,transactiondate_2017-06-06,transactiondate_2017-06-07,transactiondate_2017-06-08,transactiondate_2017-06-09,transactiondate_2017-06-12,transactiondate_2017-06-13,transactiondate_2017-06-14,transactiondate_2017-06-15,transactiondate_2017-06-16,transactiondate_2017-06-19,transactiondate_2017-06-20,transactiondate_2017-06-21,transactiondate_2017-06-22,transactiondate_2017-06-23,transactiondate_2017-06-26,transactiondate_2017-06-27,transactiondate_2017-06-28,transactiondate_2017-06-29,transactiondate_2017-06-30,transactiondate_2017-07-03,transactiondate_2017-07-05,transactiondate_2017-07-06,transactiondate_2017-07-07,transactiondate_2017-07-10,transactiondate_2017-07-11,transactiondate_2017-07-12,transactiondate_2017-07-13,transactiondate_2017-07-14,transactiondate_2017-07-17,transactiondate_2017-07-18,transactiondate_2017-07-19,transactiondate_2017-07-20,transactiondate_2017-07-21,transactiondate_2017-07-24,transactiondate_2017-07-25,transactiondate_2017-07-26,transactiondate_2017-07-27,transactiondate_2017-07-28,transactiondate_2017-07-31,transactiondate_2017-08-01,transactiondate_2017-08-02,transactiondate_2017-08-04,transactiondate_2017-08-07,transactiondate_2017-08-08,transactiondate_2017-08-09,transactiondate_2017-08-10,transactiondate_2017-08-11,transactiondate_2017-08-14,transactiondate_2017-08-15,transactiondate_2017-08-16,transactiondate_2017-08-17,transactiondate_2017-08-18,transactiondate_2017-08-21,transactiondate_2017-08-22,transactiondate_2017-08-23,transactiondate_2017-08-24,transactiondate_2017-08-25,transactiondate_2017-08-28,transactiondate_2017-08-29,transactiondate_2017-08-30,transactiondate_2017-08-31,transactiondate_2017-09-01,transactiondate_2017-09-05,transactiondate_2017-09-06,transactiondate_2017-09-07,transactiondate_2017-09-08,transactiondate_2017-09-11,transactiondate_2017-09-12,transactiondate_2017-09-13,transactiondate_2017-09-14,transactiondate_2017-09-15,transactiondate_2017-09-18,transactiondate_2017-09-19,heatingorsystemdesc_Floor/Wall,heatingorsystemdesc_Solar
53198,11202050,1.0,3.0,4.0,1042.0,34584915.0,-118088999.0,6347.0,6.037911e+07,40227.0,3101.0,97328.0,0.0,1954.0,53778.0,71669.0,2016.0,17891.0,1742.30,0.036641,68.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
50866,12607620,2.0,1.0,8.0,967.0,33819215.0,-118342330.0,986080.0,6.037651e+07,54722.0,3101.0,96163.0,0.0,1963.0,115287.0,276534.0,2016.0,161247.0,3216.98,-0.021915,59.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
68516,10994156,2.0,3.0,8.0,1861.0,34264525.0,-118286163.0,10305.0,6.037101e+07,12447.0,3101.0,96284.0,0.0,1956.0,92267.0,106944.0,2016.0,14677.0,1494.71,0.054339,66.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
21162,12350122,3.0,3.0,4.0,2020.0,33942734.0,-118117379.0,7539.0,6.037551e+07,4406.0,3101.0,96101.0,0.0,1950.0,155730.0,379627.0,2016.0,223897.0,4687.94,-0.015887,72.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
36370,12262759,1.0,3.0,4.0,1026.0,33883231.0,-118253054.0,5098.0,6.037543e+07,24174.0,3101.0,96090.0,0.0,1950.0,144267.0,319803.0,2016.0,175536.0,5735.58,-0.043604,72.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0